<script>

    let mybtnclick = document.getElementById('mybtnclick');
    
    mybtnclick.addEventListener('click',function () {
        // debugger;
        console.log("submit btn clicked");
        
        let customer_id = document.getElementById('customer_id').value;
        
        let product_id = $('#product_id').attr('data-sid');
        
        let myshowPrice = $('#myshowPrice').attr('data-sid');
        
        let qty = document.getElementById('qty').value;
        
        let total = document.getElementById('total').value;
   
        // debugger;

        let mydata;
        
        mydata = {'customer_id':customer_id,
                  'product_id':product_id,
                  'myshowPrice':myshowPrice,
                    'qty':qty,
                  'total':total}
        
        $.ajax({
            url : "{% url 'save_data' %}",
            
            method : 'POST',
            
            data : mydata,
            
            success:function(data){
                
                console.log(data);
                
            }
        })
    })
      

    
    
</script>
